.button:disabled {
  pointer-events: all;
  cursor: not-allowed !important ;
}

.button {
  background-color: white;
  border: 1px solid #222222;
  color: #222222;
}

.button:hover {
  background-color: #222222;
  border: 1px solid #222222;
  color: white;
}
