.button:disabled {
  pointer-events: all;
  cursor: not-allowed !important ;
}

.button {
  background-color: white;
  border: 1px solid #5f1d74;
  color: #5f1d74;
}

.button:hover {
  background-color: #351041;
  border: 1px solid #351041;
  color: white;
}
